body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.logo-style {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-style:link {
  text-decoration: none;
}
.filter-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.filter-button-rest {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: #404bbf;
  cursor: pointer;
}
.header-list {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  letter-spacing: 0.02em;
}
.header-studio {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-studio:link {
  text-decoration: none;
  color: #404bbf;
  display: #404bbf;
}
.adress-style {
  font-style: normal;
}
.link-style {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.link-style:link {
  text-decoration: none;
  color: #404bbf;
  display: #404bbf;
}
.first-section {
  background-color: #2e2f42;
}
.head-section {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.list-head-style {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.list-paragraph {
  font-size: 16px;
}
.thrd-head {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.thrd-head-list {
  list-style: none;
}
.fourth-section {
  background-color: #f4f4fd;
}
.list-background {
  background-color: #ffffff;
}
.span-studio-class {
  color: #f4f4fd;
}
.footer-akapit {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.studio-color {
  color: #2e2f42;
}
.filter-button-all {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  display: #404bbf;
}
